:root {
  line-height: 1;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #252525;
}

body {
  margin: 0;
  display: flow;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 100vh;
  margin: 0 0;
}

.student-card {
  display: flex;
  padding: 10px;
  margin: 16px 0;
  max-width: 400px;
  gap: 10px;
}

.student-photo {
  width: 180px;
  height: 180px;
}

.student-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.student-name {
  font-size: 1.1em;
}

.student-birthday,
.student-group {
  margin: 4px 3px;
}

.button {
  background-color: #4e4e4e;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.35s ease;
}

.button:hover {
  background-color: #333333;
}

.button:focus {
  outline: none;
}
